{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title> Vandelay Industries Toystore </title>
    <link rel="stylesheet" href="{% static "products.css" %}">
  </head>
  <body>
    <header>
      <h1>{% block title %} Vandelay Industries Toystore {% endblock title %}</h1>
    </header>

    <div class="user" style="background-color: #889999">
      {% if user.is_authenticated %} 
        <p>Welcome {{ user.username }}.<a href="{% url 'logout' %}">Log out</a></p> 
      {%else%}
        <p>Welcome, anonymous user. To review products, please <a href="{% url 'login' %}">log in</a>.</p>
      {% endif %}
    </div>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% block main %}
    
    {% endblock main %}
  </body>
</html>
